.nav{
	height:10%;
	background-color:#151515;
	display:inline-block;
	width:100%;
	color:white;
	
	border-radius:20px;
	font-family:"tall n skinny", Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-decoration:none; 
}
nav a:nth-child(5){
	position:relative;
	bottom:8px;
}
nav a:hover{
	color:#A0291D;
	font-size:18px;	
}

.left-button{
	float:left;
	width:30px;
	height:20px;
	margin:30px;
}

.right-button{
	float:right;
	width:30px;
	height:20px;
	margin:30px;
	position:relative;
	right:8%;
}
.logo{
	height:75px;
	width:115px;
	position:relative;
	left:355px;
	top:2px;
}
#container-main{
	height:700px;
	padding:20px;
	margin:0px 20px 0px 20px;
	background-image:url(images/89ede56bcc8243787e55676ab28f287f.jpg);
	position:relative;
	bottom:3px;
	z-index:1;
	border:thick solid #000000;
}
footer{
	width:107%;
	height:80px;
	background-color:#151515;
	color:#554A4A;
	margin:auto;
	position:relative;
	right:45px;
	bottom:700px;
	border:solid 2px #A0291D;
	border-radius:7px;
	
}
footer p{
	position:relative;
	top:10px;
	left:40px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:14px;
}
.street img{
	height:445px;
	width:600px;
	
}
	
.street{
	border:solid 5px black;
	height:445px;
	width:600px;
	position:relative;
	left:300px;
	opacity:0.97;
}
#left{
	width:20%;
	height:360px;
	padding-top:70px;
	padding-left:10px;
	padding-right:10px;
	border:solid 2px #A0291D;
	position:relative;
	bottom:60%; 
}
#left p{
	text-align:center;
	font-size:24px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color:#212121;
}
#left p span{
	font-size:40px;
	color:white;
}
#right{
	width:20%;
	height:350px;
	padding-top:70px;
	padding-left:10px;
	padding-right:10px;
	border:solid 2px #A0291D;
	position:relative;
	bottom:122%;
	left:77% 
}
#right p{
	text-align:center;
	font-size:24px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color:#212121;
}
#right p span{
	font-size:40px;
	color:white;
}
#right p #email{
	font-size:19px;
	color:black;
}
	

	
